<div class="reserve-picker-overlay">
  @if (loading()) {
    <div class="reserve-picker-loading">
      <mat-spinner diameter="32"></mat-spinner>
      <span>Loading…</span>
    </div>
  } @else if (reserves().length > 1) {
    <div class="reserve-picker-card">
      <div class="reserve-picker-header">
        <span>Multiple reserves at this point</span>
        <button
          type="button"
          mat-icon-button
          (click)="onClose()"
          aria-label="Close"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="reserve-picker-list">
        @for (item of reserves(); track item.id) {
          <button
            type="button"
            class="reserve-picker-item"
            (click)="onSelect(item)"
          >
            {{ item.name || item.id }}
            <span class="reserve-picker-type">({{ item.area_type }})</span>
          </button>
        }
      </div>
    </div>
  }
</div>
