<div
  class="reserve-picker-overlay"
  [ngStyle]="
    position()
      ? {
          left: position()!.x + 'px',
          top: position()!.y + 'px',
          transform: 'translate(-50%, -50%)',
        }
      : { top: '50%', left: '50%', transform: 'translate(-50%, -50%)' }
  "
>
  @if (loading()) {
    <div class="reserve-picker-loading">
      <mat-spinner diameter="24"></mat-spinner>
    </div>
  } @else if (reserves().length > 1) {
    <div class="reserve-picker-card">
      @for (item of reserves(); track item.id) {
        <button type="button" class="reserve-picker-item" (click)="onSelect(item)">
          {{ item.name || item.id }}
        </button>
      }
    </div>
  }
</div>
