:host {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  overflow: hidden;
  transition: width 0.25s ease;
}

.sidebar--expanded {
  width: 320px;
}

.sidebar__inner {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #fff;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
  flex-shrink: 0;
  background-color: #fff;
}

.sidebar__title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.sidebar__error {
  padding: 16px;
  color: #c62828;
  margin: 0;
}

.sidebar__content {
  padding: 16px;
  flex: 1;
  background-color: #fff;
}

.reserve-name {
  margin: 0 0 12px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

.reserve-details {
  margin: 0;
  font-size: 0.875rem;
}

.reserve-details dt {
  font-weight: 600;
  color: #616161;
  margin-top: 12px;
  margin-bottom: 4px;
}

.reserve-details dt:first-child {
  margin-top: 0;
}

.reserve-details dd {
  margin: 0;
}

.reserve-id {
  font-family: ui-monospace, monospace;
  font-size: 0.8125rem;
  word-break: break-all;
}

.tag-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: disc;
}

.tag-list li {
  margin-bottom: 4px;
}
