<div class="layout">
  <mat-toolbar color="primary">
    <span>OpenNatureMap</span>
    <span class="toolbar-spacer"></span>
    <div class="search-wrap">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="toolbar-field search-field"
      >
        <mat-label>Search reserves</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="searchQuery"
          (ngModelChange)="onSearchInput()"
          autocomplete="off"
        />
        @if (searchLoading) {
          <mat-spinner matSuffix diameter="20"></mat-spinner>
        }
      </mat-form-field>
      @if (searchResults.length) {
        <div class="search-results">
          @for (item of searchResults; track item.id) {
            <button type="button" class="search-result-item" (click)="selectSearchResult(item)">
              {{ item.name || item.id }}
              <span class="search-result-type">({{ item.area_type }})</span>
            </button>
          }
        </div>
      }
    </div>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="toolbar-field protection-level-filter"
    >
      <mat-label>Protection level</mat-label>
      <mat-select
        [value]="selectedProtectionLevel"
        (selectionChange)="onProtectionLevelChange($event.value)"
      >
        <mat-option [value]="null">All levels</mat-option>
        @for (opt of protectionLevelOptions; track opt.value) {
          <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="toolbar-field operator-filter"
    >
      <mat-label>Operator</mat-label>
      <mat-select
        [value]="selectedOperatorId"
        (selectionChange)="onOperatorFilterChange($event.value)"
      >
        <mat-option [value]="null">All operators</mat-option>
        @for (op of operators; track op.id) {
          <mat-option [value]="op.id">{{ op.name }} ({{ op.reserve_count }})</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <div class="map-area">
    <div id="map"></div>
    @if (atPointLoading || reservesAtPoint.length > 1) {
      <app-reserve-picker
        [reserves]="reservesAtPoint"
        [loading]="atPointLoading"
        [position]="pickerPosition"
        (reserveSelected)="selectReserveAtPoint($event)"
        (closed)="closeReservePicker()"
      />
    }
    <app-reserve-sidebar
      [expanded]="sidebarExpanded"
      [reserve]="selectedReserve"
      [error]="loadError"
      (closed)="closeSidebar()"
    />
  </div>
</div>
