:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

mat-toolbar {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.map-area {
  flex: 1;
  position: relative;
  min-height: 0;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
