:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

mat-toolbar {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

#map {
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
